primer/ch1/build/
primer/ch1/cmake-build-debug/
primer/ch1/.idea/
primer/ch2/cmake-build-debug/
primer/ch2/.idea/
primer/ch3/cmake-build-debug/
primer/ch3/.idea/
primer/ch4/cmake-build-debug/
primer/ch4/.idea/
primer/ch5/cmake-build-debug/
primer/ch5/.idea/
primer/ch6/cmake-build-debug/
primer/ch6/.idea/
